[submodule "alura/alurabank"]
	path = alura/alurabank
	url = https://github.com/gabrielcarloto/alurabank.git
[submodule "youtube/next-auth-demo"]
	path = youtube/next-auth-demo
	url = https://github.com/gabrielcarloto/next-auth-demo.git
[submodule "youtube/todo-app"]
	path = youtube/todo-app
	url = https://github.com/gabrielcarloto/todo-app.git
[submodule "nlw/feedback-widget"]
	path = nlw/feedback-widget
	url = https://github.com/gabrielcarloto/feedback-widget.git
[submodule "wesbos/javascript-30"]
	path = wesbos/javascript-30
	url = https://github.com/gabrielcarloto/javascript-30.git
[submodule "rocket-seat/event-platform"]
	path = rocket-seat/event-platform
	url = https://github.com/gabrielcarloto/event-platform.git
